.header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.text-primary {
    padding-right: 15px;
}

/* grandparent div */
.container-wrapper {
    display: flex;
    flex-direction: row;
}

.column-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column-2 {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.search-header {
    padding-left: 15px;
    width: 160px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
}

.search-input {
    margin-bottom: 10px;
    padding: 5px;
}

.search-button {
    width: 180px;
    background-color: cadetblue;
}

.history-container {
    width: 180px;
    margin-top: 10px;
    height: 400px;
    border-style: inset;
    padding: 10px;
}


.current-result {
    margin-top: 20px;
    width: 95%;
    height: 200px;
    border-style: inset;
    margin-bottom: 10px;

}

.forecast-container {
    width: 95%;
    height: 200px;
    border-style: inset;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly; 
}

.result-card {
 padding: 10px;
}

.forecast-card {
    background-color: cadetblue;
    border-radius: 5px;
    padding: 10px;
}